# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# IDE specific files
.vscode/
*.iml
.idea/
